/*-------------------ESTRUTURA_BASE------------------*/

body{
  margin: 0;
  background-color: #20003a;
  color: rgb(255, 255, 255);
  cursor: url("images/cursor_auto.png"), auto;
  position: relative;
  min-height: 100vh;
  font-family: arial;
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/7660912-fundo-roxo-com-linha-curva-e-textura-grains-design-ilustracao-eps10-vetor.jpg);
  background-attachment: fixed;
  background-size: cover;
}

::selection { /* seleção de texto */
  background-color: #00ff99; 
  color: #230027; 
}

html {
  scroll-behavior: smooth;
}

/*--------------------CABEÇALHO-----------------------*/

header {
  text-align: center;
  margin-bottom: 3%;
}

.banner {
  background-color: #00c976;
	padding: 150px 0px 150px 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 0vh;
	filter: sepia(40%) hue-rotate(170deg) saturate(2);
	background-image: url(images/4.gif);
}

.banner h1{
  text-align: left;
  margin-left: 5%;
  color: #ffffff;
  filter: none;
  text-shadow: 2px 2px 20px #20003a77;
}

.banner p{
  text-align: left;
  margin-left: 5%;
  color: #ffffff;
  font-weight: bold;
  filter: none;
  text-shadow: 2px 2px 20px #20003a77;
}

.header_browser{
  margin-top: 30px;
}

.browser_link {
  display: flex;
  justify-content: center;
  margin: 5%;
  text-decoration: none;
  cursor: url("images/cursor_auto.png"), auto;
}

.browser_link:nth-child(2) .browser_button {
  background-color: #c073ff;
}

.browser_link:nth-child(2) .browser_button:hover {
  background-color: #00ff99;
}

.browser_button {
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: #00ff99;
  color: #20003a;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
  cursor: url("images/cursor_pointer.png"), pointer;
  font-weight: bold;
}

.browser_button:hover {
  background-color: #c073ff;
  box-shadow: 0px 0px 5px rgb(0, 37, 19);
  transform: scale(1.1);
  color: #20003a;
  font-weight: bold;
}

.browser_button > a:hover {
  background-color: #00c976;
  transform: scale(1.1);
  color: rgb(7, 0, 12);
  cursor: url("images/cursor_auto.png"), auto;
}

.header_title {
  text-align: center;
  font-family: arial;
  margin-top: 0%;
}

/*--------------------PRINCIPAL-----------------------*/

.container{
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
}

.card {
  justify-content: flex-start;
  align-items: center;
  background-color: #4f018f;
  min-width: 5rem;
  min-height: 8rem;
  margin: 3.5% 1% 3.5% 1%;
  padding: 10px 0 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #010e1f;
  transition: 1s;
  color: #ffffff;
  border-radius: 1%;
  cursor: url("images/cursor_move.png"), move;
}

.card:hover {
  background-color: #00ff99;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0px 0px 1px 10px #00ff99;
}

.card img {
  transition: background-color 0.3s, color 0.3s;
  transition: filter 0.5s;
  filter: sepia(100%) hue-rotate(220deg);
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.card:hover img {
  filter: grayscale(0%);
  margin: none;
  transition: 1s;
  transform: perspective(1000px) translateY(40%) translateZ(0);
  border-radius: 100%;
}

.card:hover p {
  clip-path: inset(100%);
}

.card_image {
  cursor: url("images/cursor_auto.png"), auto;
  width: 100%;
  height: 100%;
  max-height: 220px;
}

.card_image:hover {
  cursor: url("images/cursor_auto.png"), auto;
}

.card_title {
  text-align: center;
  font-family: arial;
  margin: 2rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.card_subtitle {
  width: 160px;
  height: 0px;
  text-align: center;
}

.master_subtitle {
  width: 160px;
  height: 0px;
  text-align: center;
}

.master {
  text-decoration: none;
  color: #00ff99;
  font-weight: bold;
}

.card_button {
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: #20003a;
  color: rgb(98, 34, 151);
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: url("images/cursor_pointer.png"), pointer;
  font-weight: bold;
}

.card_button > a {
  color: white;
  text-decoration: none;
}

.card_button:hover {
  background-color: #20003a;
  box-shadow: 0px 0px 5px rgb(0, 37, 19);
  transform: scale(1.1);
  color: #00ff99;
  font-weight: bold;
}

/* -------------------- NEW_CARD ---------------------- */

.new_card {
  justify-content: flex-start;
  align-items: center;
  background-color: #4f018f;
  min-width: 5rem;
  min-height: 8rem;
  margin: 5% 0;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px 0 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #010e1f;
  transition: 1s;
  color: #ffffff;
  border-radius: 1%;
  cursor: url("images/cursor_move.png"), move;
  transition: background-color 0.5s ease;
}

.new_card:hover {
  background-color: #00ff99;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
  animation: rainbow-bg 6s infinite;
}

.plus_icon {
  width: 220px;
  height: 220px;
  color: rgba(255, 255, 255, 0);
  fill: #20003a;
}

.new_card .plus_icon:hover {
  transition: 0.5s;
  width: 220px;
  height: 220px;
  color: rgba(0, 0, 0, 0);
  fill: #20003a;
}

.new_card .botao4 {
  color: rgb(98, 34, 151);
  transition: color 0.5s ease;
}

.new_card:hover .botao4 {
  color: rgb(51, 255, 0);
  animation: rainbow-text-color 6s infinite;
}

.space {
  margin-top: 20px;
  background-color: 0.5s ease;
  color: #0033ff;
  transition: color 6s ease;
}

.space:hover {
  margin-top: 20px;
  animation: rainbow-bg 6s infinite;
}

@keyframes rainbow-bg {
  0% {
    background-color: #ff0000;
  }
  1% {
    background-color: #ff1a00;
  }
  2% {
    background-color: #ff3300;
  }
  4% {
    background-color: #ff4d00;
  }
  6% {
    background-color: #ff7f2a;
  }
  8% {
    background-color: #ff952b;
  }
  10% {
    background-color: #ffa51d;
  }
  15% {
    background-color: #ffcc00;
  } 
  20% {
    background-color: #ffff00;
  }
  25% {
    background-color: #bfff00;
  } 
  30% {
    background-color: #00ff00;
  }
  35% {
    background-color: #00ff33;
  }
  40% {
    background-color: #00ff66;
  }
  45% {
    background-color: #00ff99;
  }
  50% {
    background-color: #00ccff;
  } 
  55% {
    background-color: #0099ff;
  }
  60% {
    background-color: #0066ff;
  }
  65% {
    background-color: #0033ff;
  }
  70% {
    background-color: #6600ff;
  }
  75% {
    background-color: #9900ff;
  }
  80% {
    background-color: #cc00ff;
  }
  85% {
    background-color: #ff0080;
  } 
  90% {
    background-color: #ff0077;
  } 
  95% {
    background-color: #ff002b;
  } 
  100% {
    background-color: #ff0000;
  } 
}

@keyframes rainbow-text-color {
  0% {
    color: #ff0000;
  }
  1% {
    color: #ff1a00;
  }
  2% {
    color: #ff3300;
  }
  4% {
    color: #ff4d00;
  }
  6% {
    color: #ff6600;
  }
  8% {
    color: #ff7f00;
  }
  10% {
    color: #ff9900;
  }
  15% {
    color: #ffcc00;
  }
  20% {
    color: #ffff00;
  }
  25% {
    color: #bfff00;
  }
  30% {
    color: #00ff00;
  }
  35% {
    color: #00ff33;
  }
  40% {
    color: #00ff66;
  } 
  45% {
    color: #00ff99;
  }
  50% {
    color: #00ccff;
  }
  55% {
    color: #0099ff;
  }
  60% {
    color: #0066ff;
  }
  65% {
    color: #0033ff;
  }
  70% {
    color: #6600ff;
  }
  75% {
    color: #9900ff;
  }
  80% {
    color: #cc00ff;
  }
  85% {
    color: #ff00cc;
  } 
  90% {
    color: #ff0099;
  }
  95% {
    color: #ff0066;
  }
  100% {
    color: #ff0000;
  }
}

.new_card_button {
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: #20003a;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: url("images/cursor_pointer.png"), pointer;
  font-weight: bold;
  color: rgb(98, 34, 151);
  transition: color 0.5s ease;
}
.new_card_button:hover {
  background-color: #20003a;
  box-shadow: 0px 0px 5px rgb(0, 37, 19);
  transform: scale(1.1);
  font-weight: bold;
}

.new_card_button > a {
  text-decoration: none;
}

.new_card_button > a:hover {
  transform: scale(1.1);
  cursor: url("images/cursor_auto.png"), auto;
}

/* ----------- menssage_alert ------------- */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #20003a;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.modal-content {
  background-color: #00ff99;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.close {
  background: #20003a;
  color: #a04ee2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: url("images/cursor_pointer.png"), pointer;
  font-weight: bold;
}

.close:hover {
  background-color: #20003a;
  box-shadow: 0px 0px 5px rgb(0, 37, 19);
  transform: scale(1.1);
  color: #00ff99;
  font-weight: bold;
  transition: 0.5s;
  cursor: url("images/cursor_pointer.png"), pointer;
}

/* --------------- footer ----------------- */

footer {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 2.5rem;
}

.mushroom_wallpaper {
  margin-bottom: -10px;
}

hr {
  margin: 0% 10% 3% 10%;
  border: 1px solid #61ffbd;
  box-shadow: 0px 0px 25px #00ff88;
}

.beta_button {
  padding: 20px 40px;
  text-transform: uppercase;
  background-color: #c073ff;
  color: #20003a;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: url("images/cursor_pointer.png"), pointer;
  font-weight: bold;
}

.beta_button:hover {
  background-color: #00ff99;
  box-shadow: 0px 0px 5px rgb(0, 37, 19);
  transform: scale(1.1);
  color: #20003a;
  font-weight: bold;
}

.informations {
  background-color: #000d1b;
  padding: 1rem 0rem 1.5rem 0rem;
  margin-top: -30 px;
}

.copyright {
  text-align: center;
  font-family: arial;
}

.github_amaaurus {
  color: #00ff99;
  text-decoration: none;
  font-weight: bold;
}

.github_amaaurus::after {
  content: "Amaaurus";
}

.github_amaaurus:hover::after {
  color: #a04ee2;
  text-decoration: none;
  text-transform: uppercase;
  content: "Meu GitHub";
}

.github_alex {
  color: #00ff99;
  text-decoration: none;
  font-weight: bold;
}

.github_alex::after {
  content: "Alexsandro-ms";
}

.github_alex:hover::after {
  color: #a04ee2;
  text-decoration: none;
  text-transform: uppercase;
  content: "Meu GitHub";
}

.adjustment{
  display: flex;
  gap: 17%; 
  justify-content: center;
  text-align: center;
}
