body /* padrão */ {
	margin: 0;
	background-color: #20003a;
	color: rgb(255, 255, 255);
	cursor: url('images/cursor_auto.png'), auto;
}

::selection {
	background-color: #00ff99; /* Cor de fundo da seleção */
	color: #230027; /* Cor do texto selecionado */
}

.container {
	position: relative;
	min-height: 100vh;
	font-family: arial;
}

/*-------------------------------------------*/

.principal {
	margin: 2rem 0;
	text-align: center;
}

.titulo {
	text-align: center;
	font-family: arial;
}

.img {
	cursor: url('images/cursor_auto.png'), auto;
	
}

.img:hover {
	cursor: url('images/cursor_auto.png'), auto;
}

.cards {
	display: flex;
	justify-content: space-evenly;
}

.card {
  background-color: #4f018f;
  min-width: 5rem;
  min-height: 8rem;
  margin: 5% 0;
  padding: 10px 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #010e1f;
  transition: 1s;
  color: #ffffff;
  border-radius: 1%;
  cursor: url('images/cursor_move.png'), move;
}

.card img{
  transition: background-color 0.3s, color 0.3s;
  transition: filter 0.5s;
  filter: sepia(100%) hue-rotate(220deg);
}

.card:hover img{
	filter: grayscale(0%);
}

.card0 img{
	transition: background-color 0.3s, color 0.3s;
	transition: filter 0.5s;
	filter: sepia(100%) hue-rotate(220deg);
  }
  
  .card0:hover img{
	filter: sepia(0%)
  }
.card:hover {
	background-color: #00ff99;
	color: black;
}

.card0 {
	background-color: #4f018f;
	min-width: 5rem;
	min-height: 8rem;
	margin-top: 3%;
	padding: 10px 0 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 15px 0px #010e1f;
	transition: 1s;
	color: #ffffff;
	border-radius: 1%;
	cursor: url('images/cursor_move.png'), move;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .card0:hover {
	  background-color: #00ff99;
	  color: black;
  }

.subtitle {
	width: 200px;
	height: 40px;
	text-align: center;
}

.titulo {
	margin: 2rem 2rem 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.titulo2 {
	margin: 0.5rem 2rem 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.botao {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #20003a;
	color: rgb(98, 34, 151);
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.botao > a {
	color: white;
	text-decoration: none;
}



.botao:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
}

.botao > a:hover {
	background-color: #00c976;
	transform: scale(1.1);
	color: rgb(7, 0, 12);
	cursor: url('images/cursor_auto.png'), auto;
}



/*-------------------------------------------*/

.rodape {
	position: absolute;
	bottom: 0rem;
	width: 100%;
	height: 2.5rem; 
}

.bloco {
	background-color: #000d1b;
	padding: 1rem 0rem 1.5rem 0rem;
	margin-top: -30 px;
}

.image {
	margin: 0 0 0 0;
}

.copyright {
	text-align:center;
	font-family: arial;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #20003a;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.modal-content {
	background-color: #00ff99;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.close {
	background:#20003a;
	color: #a04ee2;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.close:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
	transition: 0.5s;
	cursor: url('images/cursor_pointer.png'), pointer;
}

html {
	scroll-behavior: smooth;
  }

.linha{
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 100px;
	border: 1px solid #61ffbd;
	box-shadow: 0px 0px 25px #00ff88;
}

.navegar{
	display: flex;
    justify-content: center; /* Centraliza horizontalmente */
	margin-top: 25px;
	text-decoration: none;
}

.imagem{
	margin-bottom: -10px;
}

.botao2 {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #00ff99;
	color:  #20003a;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}



.botao2:hover {
	background-color: #7000cc;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color:  #20003a;
	font-weight: bold;
}

.botao3 {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #00ff99;
	color:  #20003a;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}



.botao3:hover {
	background-color: #7000cc;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color:  #20003a;
	font-weight: bold;
}

.navegador{
	background-color: #00c976;
	padding: 150px 0px 150px 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 0vh;
	filter: sepia(50%) hue-rotate(95deg) saturate(1);
	background-image: url(https://r2pg.com.br/wp-content/uploads/2017/06/piotr-dura-tree-of-the-forgotten2k.jpg);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 20px;
	width: 100%;
	background: rgba(0, 0, 0,); /* Fundo preto com 50% de opacidade */
	text-align: center;
	z-index: 1000; /* Fixa o menu acima de outros elementos */
}
.menu a {
	color: white;
	text-decoration: none;
	padding: 0 15px;
	font-size: 18px;
}
.menu a:hover {
	text-decoration: underline;
}
.content {
	margin-top: 0px; /* Espaço para o menu fixo */
	padding: 30px;
}
