body /* padrão */ {
	margin: 0;
	background-color: #20003a;
	color: rgb(255, 255, 255);
	cursor: url('images/cursor_auto.png'), auto;
}

::selection {
	background-color: #00ff99; /* Cor de fundo da seleção */
	color: #230027; /* Cor do texto selecionado */
}

.container {
	position: relative;
	min-height: 100vh;
	font-family: arial;
}

/*-------------------------------------------*/

.principal {
	margin: 6rem 0;
	text-align: center;
}

.titulo {
	text-align: center;
	font-family: arial;
}

.img {
	cursor: url('images/cursor_auto.png'), auto;
	
}

.img:hover {
	cursor: url('images/cursor_auto.png'), auto;
}

.cards {
	display: flex;
	justify-content: space-evenly;
}

.card {
  background-color: #4f018f;
  min-width: 5rem;
  min-height: 8rem;
  margin: 5% 0;
  padding: 10px 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #010e1f;
  transition: 1s;
  color: #ffffff;
  border-radius: 1%;
  cursor: url('images/cursor_move.png'), move;
}

.card img{
  transition: background-color 0.3s, color 0.3s;
  transition: filter 0.5s;
  filter: grayscale(100%);
}

.card:hover img{
	filter: grayscale(0%);
}

.card0 img{
	transition: background-color 0.3s, color 0.3s;
	transition: filter 0.5s;
	filter: grayscale(100%);
  }
  
  .card0:hover img{
	  filter: grayscale(0%);
  }
.card:hover {
	background-color: #00ff99;
	color: black;
}

.card0 {
	background-color: #4f018f;
	min-width: 5rem;
	min-height: 8rem;
	margin-top: 5%;
	padding: 10px 0 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 15px 0px #010e1f;
	transition: 1s;
	color: #ffffff;
	border-radius: 1%;
	cursor: url('images/cursor_move.png'), move;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .card0:hover {
	  background-color: #00ff99;
	  color: black;
  }

.subtitle {
	width: 200px;
	height: 40px;
	text-align: center;
}

.titulo {
	margin: 2rem 2rem 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.botao {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #20003a;
	color: rgb(98, 34, 151);
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.botao > a {
	color: white;
	text-decoration: none;
}



.botao:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
}

.botao > a:hover {
	background-color: #00c976;
	transform: scale(1.1);
	color: rgb(7, 0, 12);
	cursor: url('images/cursor_auto.png'), auto;
}



/*-------------------------------------------*/

.rodape {
	position: absolute;
	bottom: 0rem;
	width: 100%;
	height: 2.5rem; 
}

.bloco {
	background-color: #000d1b;
	padding: 1rem 0rem 1.5rem 0rem;
	margin-top: -10px;
}

.image {
	margin: 0 0 0 0;
}

.copyright {
	text-align:center;
	font-family: arial;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #20003a;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.modal-content {
	background-color: #00ff99;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.close {
	background:#20003a;;
	color: rgb(255, 255, 255);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.close:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
	transition: 0.5s;
	cursor: url('images/cursor_pointer.png'), pointer;
}
