body /* padrão */ {
	margin: 0;
	background-color: #20003a;
	color: rgb(255, 255, 255);
	cursor: url('images/cursor_auto.png'), auto;
}

::selection {
	background-color: #00ff99; /* Cor de fundo da seleção */
	color: #230027; /* Cor do texto selecionado */
}

.container {
	position: relative;
	min-height: 100vh;
	font-family: arial;
}

/*-------------------------------------------*/

.principal {
	margin: 2rem 0;
	text-align: center;
}

.titulo {
	text-align: center;
	font-family: arial;
}

.titulo2 {
	text-align: center;
	font-family: arial;
	margin-top: 0%;
}

.img {
	cursor: url('images/cursor_auto.png'), auto;
	width: 220px;
	height: 220px;
}

.img:hover {
	cursor: url('images/cursor_auto.png'), auto;
}

.cards {
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}

.card {
  justify-content: flex-start;
  align-items: center;
  background-color: #4f018f;
  min-width: 5rem;
  min-height: 8rem;
  margin: 5% 0;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px 0 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px #010e1f;
  transition: 1s;
  color: #ffffff;
  border-radius: 1%;
  cursor: url('images/cursor_move.png'), move;
}

.card img{
  transition: background-color 0.3s, color 0.3s;
  transition: filter 0.5s;
  filter: sepia(100%) hue-rotate(220deg)
}

.card:hover img{
	filter: grayscale(0%);
	margin: none;
}

.card2 {
	justify-content: flex-start;
	align-items: center;
	background-color: #4f018f;
	min-width: 5rem;
	min-height: 8rem;
	margin: 5% 0;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px 0 2%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 15px 0px #010e1f;
	transition: 1s;
	color: #ffffff;
	border-radius: 1%;
	cursor: url('images/cursor_move.png'), move;
	transition: background-color 0.5s ease;
  }
  
  .card2:hover {
	background-color: #00ff99;
	color: black;
	margin-left: 1%;
	margin-right: 1%;
	animation: rainbow-bg 6s infinite;
}

.plus-icon {
    width: 220px;
    height: 220px;
    color: rgba(255, 255, 255, 0);
	fill: #20003a;
}

.card2 .plus-icon:hover{
	transition: 0.5s;
    width: 220px;
    height: 220px;
    color: rgba(0, 0, 0, 0);
	fill: #20003a;
}

@keyframes rainbow-bg {
    0% { background-color: #FF0000; } /* Vermelho */
    1% { background-color: #FF1A00; } /* Vermelho Escuro */
    2% { background-color: #FF3300; } /* Laranja claro */
    4% { background-color: #FF4D00; } /* Laranja médio */
    6% { background-color: #ff7f2a; } /* Laranja mais vívido */
    8% { background-color: #ff952b; } /* Laranja mais escuro */
    10% { background-color: #ffa51d; } /* Laranja forte */
    15% { background-color: #FFCC00; } /* Amarelo forte */
    20% { background-color: #FFFF00; } /* Amarelo */
    25% { background-color: #BFFF00; } /* Amarelo Limão */
    30% { background-color: #00FF00; } /* Verde Limão */
    35% { background-color: #00FF33; } /* Verde Claro */
    40% { background-color: #00FF66; } /* Verde Turquesa */
    45% { background-color: #00FF99; } /* Verde Limão Claro */
    50% { background-color: #00CCFF; } /* Azul Claro */
    55% { background-color: #0099FF; } /* Azul Forte */
    60% { background-color: #0066FF; } /* Azul Royal */
    65% { background-color: #0033FF; } /* Azul Escuro */
    70% { background-color: #6600FF; } /* Roxo Claro */
    75% { background-color: #9900FF; } /* Roxo Médio */
    80% { background-color: #CC00FF; } /* Roxo Forte */
    85% { background-color: #ff0080; } /* Rosa forte */
    90% { background-color: #ff0077; } /* Rosa mais claro */
    95% { background-color: #ff002b; } /* Rosa avermelhado */
    100% { background-color: #FF0000; } /* Retorno ao Vermelho */
  }

.card0 img{
	transition: background-color 0.3s, color 0.3s;
	transition: filter 0.5s;
	filter: sepia(100%) hue-rotate(220deg);
	margin-left: 0%;
	margin-right: 0%;
  }
  
  .card0:hover img{
	filter: sepia(0%);
	margin-left: 0%;
	margin-right: 0%;
  }
.card:hover {
	background-color: #00ff99;
	color: black;
	margin-left: 1%;
	margin-right: 1%;
}

.card0 {
	background-color: #4f018f;
	min-width: 5rem;
	min-height: 8rem;
	margin-top: 3%;
	padding: 10px 0 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 15px 0px #010e1f;
	transition: 1s;
	color: #ffffff;
	border-radius: 1%;
	cursor: url('images/cursor_move.png'), move;
	transition: background-color 0.3s, color 0.3s;
	margin-left: 1%;
	margin-right: 1%;
  }
  
  .card0:hover {
	  background-color: #00ff99;
	  color: black;
	  margin-left: 1%;
	  margin-right: 1%;
  }

.subtitle {
	width: 160px;
	height: 40px;
	text-align: center;
}

.teste {
	margin-top: 20px;
	background-color 0.5s ease;
	color: #0033FF;
	transition: color 6s ease;
}

.teste:hover {
	margin-top: 20px;
	animation: rainbow-bg 6s infinite;
}


.titulo {
	margin: 2rem 2rem 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.titulo2 {
	margin: 0rem 2rem 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.botao {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #20003a;
	color: rgb(98, 34, 151);
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.botao > a {
	color: white;
	text-decoration: none;
}



.botao:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
}

.botao > a:hover {
	background-color: #00c976;
	transform: scale(1.1);
	color: rgb(7, 0, 12);
	cursor: url('images/cursor_auto.png'), auto;
}






/*-------------------------------------------*/

.rainbow-text {
    
  }

  /* Animação ao passar o mouse */
  .rainbow-text:hover {
    animation: rainbow-text-color 6s infinite; /* Animação de cor ao passar o mouse */
  }

  /* Keyframes para a animação do texto com cor */
  @keyframes rainbow-text-color {
    0% { color: #FF0000; } /* Vermelho */
    1% { color: #FF1A00; } /* Vermelho escuro */
    2% { color: #FF3300; } /* Laranja claro */
    4% { color: #FF4D00; } /* Laranja médio */
    6% { color: #FF6600; } /* Laranja mais vívido */
    8% { color: #FF7F00; } /* Laranja mais escuro */
    10% { color: #FF9900; } /* Laranja forte */
    15% { color: #FFCC00; } /* Amarelo forte */
    20% { color: #FFFF00; } /* Amarelo */
    25% { color: #BFFF00; } /* Amarelo limão */
    30% { color: #00FF00; } /* Verde limão */
    35% { color: #00FF33; } /* Verde claro */
    40% { color: #00FF66; } /* Verde turquesa */
    45% { color: #00FF99; } /* Verde limão claro */
    50% { color: #00CCFF; } /* Azul claro */
    55% { color: #0099FF; } /* Azul forte */
    60% { color: #0066FF; } /* Azul royal */
    65% { color: #0033FF; } /* Azul escuro */
    70% { color: #6600FF; } /* Roxo claro */
    75% { color: #9900FF; } /* Roxo médio */
    80% { color: #CC00FF; } /* Roxo forte */
    85% { color: #FF00CC; } /* Rosa forte */
    90% { color: #FF0099; } /* Rosa mais claro */
    95% { color: #FF0066; } /* Rosa avermelhado */
    100% { color: #FF0000; } /* Retorno ao vermelho */
  }

.botao4 {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #20003a;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
	color: rgb(98, 34, 151);
	transition: color 0.5s ease;
	
	
	
}

.botao4 > a {
	text-decoration: none;
	
}



.botao4:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	font-weight: bold;
	color: rgb(217, 255, 0);
	animation: rainbow-text-color 6s infinite
}

.card2 .botao4{
	color: rgb(98, 34, 151);
	transition: color 0.5s ease;
}

.card2:hover .botao4{
	color: rgb(51, 255, 0);
	animation: rainbow-text-color 6s infinite
}

.botao4 > a:hover {
	transform: scale(1.1);
	cursor: url('images/cursor_auto.png'), auto;
}

.rodape {
	position: absolute;
	bottom: 0rem;
	width: 100%;
	height: 2.5rem; 
}

.bloco {
	background-color: #000d1b;
	padding: 1rem 0rem 1.5rem 0rem;
	margin-top: -30 px;
}

.image {
	margin: 0 0 0 0;
}

.copyright {
	text-align:center;
	font-family: arial;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #20003a;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.modal-content {
	background-color: #00ff99;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.close {
	background:#20003a;
	color: #a04ee2;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}

.close:hover {
	background-color: #20003a;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color: #00ff99;
	font-weight: bold;
	transition: 0.5s;
	cursor: url('images/cursor_pointer.png'), pointer;
}

html {
	scroll-behavior: smooth;
  }

.linha{
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 100px;
	border: 1px solid #61ffbd;
	box-shadow: 0px 0px 25px #00ff88;
}

.navegar{
	display: flex;
    justify-content: center; /* Centraliza horizontalmente */
	margin-top: 25px;
	text-decoration: none;
	cursor: url('images/cursor_auto.png'), auto;

}

.imagem{
	margin-bottom: -10px;
}

.botao2 {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #00ff99;
	color:  #20003a;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}



.botao2:hover {
	background-color: #7000cc;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color:  #20003a;
	font-weight: bold;
}

.botao3 {
	padding: 20px 35px;
	text-transform: uppercase;
	background-color: #00ff99;
	color:  #20003a;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
	cursor: url('images/cursor_pointer.png'), pointer;
	font-weight: bold;
}



.botao3:hover {
	background-color: #7000cc;
	box-shadow: 0px 0px 5px rgb(0, 37, 19);
	transform: scale(1.1);
	color:  #20003a;
	font-weight: bold;
}

.navegador{
	background-color: #00c976;
	padding: 150px 0px 150px 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 0vh;
	filter: sepia(50%) hue-rotate(95deg) saturate(1);
	background-image: url(https://r2pg.com.br/wp-content/uploads/2017/06/piotr-dura-tree-of-the-forgotten2k.jpg);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 20px;
	width: 100%;
	background: rgba(0, 0, 0,); /* Fundo preto com 50% de opacidade */
	text-align: center;
	z-index: 1000; /* Fixa o menu acima de outros elementos */
}
.menu a {
	color: white;
	text-decoration: none;
	padding: 0 15px;
	font-size: 18px;
}
.menu a:hover {
	text-decoration: underline;
}
.content {
	margin-top: 0px; /* Espaço para o menu fixo */
	padding: 30px;
}
